
/*------------------1st row------------------*/

.a{
    background-color: red;
    width: 50%;
    float: left;
    height: 100px;
}

.b{
    background-color: blue;
    width: 50%;
    float: left;
    height: 100px;
}

/*------------------2nd row------------------*/

.c{
    background-color: green;
    width: 33.33%;
    float: left;
    height: 100px;
}

.d{
    background-color: yellow;
    width: 33.33%;
    float: left;
    height: 100px;
}

.e{
    background-color: black;
    width: 33.33%;
    float: left;
    height: 100px;
}

/*------------------3rd row------------------*/

.f{
    background-color: red;
    width: 40%;
    float: left;
    height: 100px;
}

.g{
    background-color: black;
    width: 20%;
    float: left;
    height: 100px;
}

.h{
    background-color: green;
    width: 40%;
    float: left;
    height: 100px;
}

/*------------------4th row------------------*/

.i{
    background-color: blue;
    width: 40%;
    float: left;
    height: 100px;
}

.j{
    background-color: yellow;
    width: 20%;
    float: left;
    height: 100px;
}

.k{
    background-color: purple;
    width: 40%;
    float: left;
    height: 100px;
}

/*------------------5th row------------------*/

.l{
    background-color: red;
    width: 33.33%;
    float: left;
    height: 100px;
}

.m{
    background-color: gray;
    width: 33.33%;
    float: left;
    height: 100px;
}

.n{
    background-color: green;
    width: 33.33%;
    float: left;
    height: 100px;
}

/*------------------6th row------------------*/

.o{
    background-color: green;
    width: 33.33%;
    float: left;
    height: 100px;
}

.p{
    background-color: gray;
    width: 33.33%;
    float: left;
    height: 100px;
}

.q{
    background-color: red;
    width: 33.33%;
    float: left;
    height: 100px;
}

/*------------------7th row------------------*/

.r{
    background-color: red;
    width: 40%;
    float: left;
    height: 100px;
}

.r1{
    background-color: blue;
    width: 90%;
    float: left;
    height: 70px;
    margin: 18px;
}

.s{
    background-color: blue;
    width: 30%;
    float: left;
    height: 100px;
}

.s1{
    background-color: pink;
    width: 90%;
    float: left;
    height: 70px;
    margin: 18px;
}

.t{
    background-color: gray;
    width: 30%;
    float: left;
    height: 100px;
}

.t1{
    background-color: red;
    width: 90%;
    float: left;
    height: 70px;
    margin: 18px;
}