/*------------------------------ Top Header Section ------------------------------*/
.top-header{
    background-color: rgb(23, 63, 178);
    height: 50px;
    width: 100%;
    float: left;
}
.top-header a{
    text-decoration: none;
    color: #fe4c1a;
    background: white;
    border-radius: 7px;
    padding: 10px;
}
.request-auote, .request-auote img{
    width: 100%;
}
/*------------------------------ Logo Section ------------------------------*/
.logo-section{
    background-color: red;
    height: 80px;
    width: 100%;
    float: left;
}
.a{
    background-color: white;
    height: 80px;
    width: 35%;
    float: left;
}
.a img{
    width: 200px;
    height: 70px;
    margin-top: 5px;
    margin-left: 70px;
}
.navbar-section{
    background-color: white;
    width: 65%;
    height: 80px;
    float: left;
}
.navbar-section li{
    list-style: none;
}
.navbar-section li a{
    float: left;
    color: black;
    text-decoration: none;
    padding: 15px;
}
.navbar-section li a:hover{
    color: #00c3ff;
}
/*------------------------------ Banner Section ------------------------------*/
.banner-section{
    background-color: #143cb4;
    height: 500px;
    width: 100%;
    float: left;
}
.c{
    background-color: #143cb4;
    height: 500px;
    width: 50%;
    float: left;
}
.d{
    background-color: #143cb4;
    height: 500px;
    width: 50%;
    float: left;
}
.d img{
    width: 100%;
    margin-top: 70px;
}
.c h2{
    margin-top: 20%;
    text-align: center;
    color: white;
}
.c p{
    text-align: center;
    color: white;
}
/*------------------------------ Process Section ------------------------------*/
.process-section{
    background-color: red;
    width: 100%;
    height: 300px;
    float: left;
}
.e{
    background-color: white;
    width: 25%;
    height: 300px;
    float: left;
}
.f{
    background-color: white;
    width: 25%;
    height: 300px;
    float: left;
}
.g{
    background-color: white;
    width: 25%;
    height: 300px;
    float: left;
}
.h{
    background-color: white;
    width: 25%;
    height: 300px;
    float: left;
}
.process-wrapper-first, .process-wrapper-second{
    background-color: white;
    margin: 20px;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 1px 15px 5px rgba(0, 0, 0, 0.20);
}
.process-section img{
    border-radius: 50%;
}
.process-section .read-more{
    margin-top: 30px;
}
.process-section .read-more a{
    background-color: #fe4c1c;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 25px;
}
.process-wrapper-second{
    margin-top: 30px;
}
.process-wrapper-first:hover, .process-wrapper-second:hover{
    background-image: linear-gradient(145deg, #0039e4, #04dbf1);
    color: white;
}
/*------------------------------ About Section ------------------------------*/
.about-section{
    background-color: white;
    width: 100%;
    height: 600px;
    float: left;
    margin-top: 30px;
}
.i{
    background-color: white;
    width: 60%;
    height: 500px;
    float: left; 
}
.j{
    background-color: white;
    width: 40%;
    height: 500px;
    float: left; 
}
.j img{
    height: 450px;
    margin-left: 25%;
}
.left-about-section, .j img{
    padding: 20px;
}
.marquee{
    background-color: white;
    width: 100%;
    height: 80px;
    float: left;
    text-align: center;
}
.mar1{
    background-color: white;
    width: 10%;
    height: 80px;
    float: left; 
}
.mar2{
    background-color: white;
    width: 15%;
    height: 80px;
    float: left; 
}
.mar3{
    background-color: white;
    width: 20%;
    height: 80px;
    float: left; 
}
/*------------------------------ Why choose Section ------------------------------*/
.why-choose-section{
    background-color: white;
    width: 100%;
    height: 600px;
    float: left;
}
.k{
    background-color: white;
    width: 50%;
    height: 600px;
    float: left;
}
.k1{
    background-color: white;
    width: 30%;
    height: 100px;
    float: left;
}
.k2{
    background-color: white;
    width: 30%;
    height: 100px;
    float: left;
}
.k3{
    background-color: white;
    width: 30%;
    height: 100px;
    float: left;
}
.why-choose-inner-wrapper{
    text-align: center;
}
.why-choose-inner-wrapper h2{
    color: #fe4c1c;
}
.why-choose-inner-wrapper h5, .why-choose-inner-wrapper p{
    margin-bottom: 0px;
}
.l{
    background-color: white;
    width: 50%;
    height: 600px;
    float: left;
}
.m{
    background-color: white;
    width: 50%;
    height: 600px;
    float: left;
}
.m1{
    background-color: white;
    width: 100%;
    height: 300px;
    float: left;
}
.m2{
    background-color: white;
    width: 100%;
    height: 300px;
    float: left;
}
.n{
    background-color: white;
    width: 50%;
    height: 600px;
    float: left;
}
.n1{
    background-color: white;
    width: 100%;
    height: 300px;
    float: left;
}
.n2{
    background-color: white;
    width: 100%;
    height: 300px;
    float: left;
}
.why-choose-wrapper{
    background-color: white;
    margin: 20px;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 1px 15px 5px rgba(0, 0, 0, 0.20);
}
.why-choose-wrapper img{
    border-radius: 50%;
}
.why-choose-wrapper:hover{
    background-image: linear-gradient(145deg, #0039e4, #04dbf1);
    color: white;
}
.why-choose-section ul li{
    padding-bottom: 12px;
}
/*------------------------------ Start Now Section ------------------------------*/
.start-now-section{
    height: 300px;
    width: 100%;
    float: left;
}
.start-now-wrapper{
    text-align: center;
}
.start-now-wrapper h3{
    color: white;
}
.start-now-section a{
    background-color: white;
    color: #fe4c1c;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 25px;
}
.start-now-section .start-now{
    margin-top: 40px;
}
/*------------------------------ Our latest Project Section ------------------------------*/
.projects-section{
    background-color: white;
    height: 500px;
    width: 100%;
    float: left;
    margin-top: 40px;
}
.o{
    background-color: white;
    height: 100px;
    width: 100%;
    float: left;
}
.p{
    background-color: white;
    height: 300px;
    width: 100%;
    float: left;
}
.project-upper-section{
    text-align: center;
}
.p1{
    background-color: white;
    height: 200px;
    width: 30%;
    float: left;
    margin-left: 5%;
}
.p2{
    background-color: white;
    height: 200px;
    width: 30%;
    float: left;
}
.p3{
    background-color: white;
    height: 200px;
    width: 30%;
    float: left;
}
.p1 img, .p2 img, .p3 img{
    border: 1px solid #0766ad;
    border-radius: 20px;
    height: 280px;
}
.p1 img:hover, .p2 img:hover, .p3 img:hover{
    width: 380px;
    height: 300px;
}
.q{
    background-color: white;
    height: 100px;
    width: 100%;
    float: left;
}
.all-works{
    text-align: center;
    margin-top: 50px;
}
.all-works a{
    background-color: #fe4c1c;
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 25px;
}
/*------------------------------ Home process Section ------------------------------*/
.home-process{
    background-color: white;
    height: 650px;
    width: 100%;
    float: left;
}
.home-process-inner img{
    width: 100%;
}
/*------------------------------ Our Prices Section ------------------------------*/
.our-prices-section{
    height: 800px;
    width: 100%;
    float: left;
    text-align: center;
    margin-bottom: 80px;
    background-image: url("images/bg-shape1-home5.png");
    background-position: top right;
    background-repeat: no-repeat;
    opacity: 1;
    background-color: #f0f6ff;
    padding: 30px 0px 100px 0px;

}

.our-prices-section .contact-one{
    background-color: #002dae;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 25px;
}

.our-prices-section .contact-two{
    background-color: white;
    color: #fe4c1c;
    text-decoration: none;
    padding: 10px;
    border-radius: 25px;
}

.view-all-packages{
    background-color: #f0f6ff;
    height: 60px;
    width: 100%;
    float: left;
    margin-top: 15px;
}

.package-button a{
    background-color: #002dae;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 25px;
}


.our-prices-section .contact-three{
    background-color: #fe4c1c;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 25px;
}

.our-prices-section h6{
    background: white;
    border-radius: 20px;
    box-shadow: 2px 1px 6px rgba(0, 0, 0, 0.20);
    padding: 10px 5px;
}
.five{
    background-color: white;
    height: 700px;
    width: 25%;
    padding: 20px;
    float: left;
    box-shadow: 0px 1px 15px 5px rgba(0,0,0,0.20);
    margin: 20px;
    border-radius: 15px;
    margin-left: 65px;
}
.five-one{
    /* background-color: white; */
    height: 400px;
    width: 100%;
    float: left;
}
.five-two{
    /* background-color: white; */
    height: 300px;
    width: 100%;
    float: left;
}
.six{
    background-color: #fe4c1b;
    height: 700px;
    width: 25%;
    padding: 20px;
    float: left;
    box-shadow: 0px 1px 15px 5px rgba(0,0,0,0.20);
    margin: 20px;
    border-radius: 15px;
    color: white;
}
.six-one{
    /* background-color: white; */
    height: 400px;
    width: 100%;
    float: left;
}
.six-two{
    /* background-color: white; */
    height: 300px;
    width: 100%;
    float: left;
}
.seven{
    background-color: white;
    height: 700px;
    width: 25%;
    padding: 20px;
    float: left;
    box-shadow: 0px 1px 15px 5px rgba(0,0,0,0.20);
    margin: 20px;
    border-radius: 15px;
}
.seven-one{
    /* background-color: white; */
    height: 400px;
    width: 100%;
    float: left;
}
.seven-two{
    /* background-color: white; */
    height: 300px;
    width: 100%;
    float: left;
}
.our-prices-section img{
    width: 200px;
    height: 200px;
}
/*------------------------------ Our process Section ------------------------------*/
.our-process-section{
    width: 100%;
    height: 450px;
    background-color: white;
    float: left;
}
.our-proces-head{
    text-align: center;
}

.one{
    background-color: white;
    width: 25%;
    height: 400px;
    float: left;
}
.two{
    background-color: white;
    width: 25%;
    height: 400px;
    float: left;
}
.three{
    background-color: white;
    width: 25%;
    height: 400px;
    float: left;
}
.four{
    background-color: white;
    width: 25%;
    height: 400px;
    float: left;
}
.our-process-inner h2{
    background-image: linear-gradient(145deg, #0039e4, #04dbf1);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 20px;
    margin-top: -55px;
    margin-left: 40%;
    margin-bottom: 0px;
    color: white;
}
.our-process-inner h3, .our-process-inner p{
    margin-bottom: 0px;
}
.our-process-inner{
    background-color: white;
    margin: 20px;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 2px 1px 6px rgba(0, 0, 0, 0.50);
}
.our-process-inner:hover{
    box-shadow: 8px 8px 30px 0px rgba(42, 67, 113, 0.15);
}
.our-process-inner img{
    height: 90px;
}
/*------------------------------ Footer Section ------------------------------*/
.footer-section{
    /* background-image: linear-gradient(160deg, #002cae 62%, #04b6f1 100%); */
    background-image: url("images/footer-bg.jpeg");
    height: 300px;
    width: 100%;
    float: left;
    color: white;
    padding-top: 90px;
  background-size: cover;
}
.v{
    /* background-color: #143cb4; */
    height: 300px;
    width: 20%;
    float: left;
}
.w{
    /* background-color: #143cb4; */
    height: 300px;
    width: 20%;
    float: left;
}
.x{
    /* background-color: #143cb4; */
    height: 300px;
    width: 20%;
    float: left;
}
.y{
    /* background-color: #143cb4; */
    height: 300px;
    width: 20%;
    float: left;
}
.z{
    /* background-color: #143cb4; */
    height: 300px;
    width: 20%;
    float: left;
}
.footer-section a{
    text-decoration: none;
    color: white;
}
.footer-section ul{
    padding-left: 10px;
}
.footer-section .footer-inner{
    margin-left: 40px;
}
.darkblue{
    color: #0766ad;
}
.orange{
    color: #fe4c1b;
}
.skyblue{
    color: #00c3ff;
}
.lightgray{
    color: #a5b7d2;
}
.black{
    color: black;
}